.inner-subHeading h4 {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.category-product-block ul li {
  text-transform: capitalize;
  padding: 5px 0;
  margin: 5px 0;
}
